/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

header img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

header h1 {
    display: inline;
}

nav {
    background: #004494;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    width: 70%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


section p {
    text-align: justify;
}

article {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


blockquote {
    font-style: italic;
    background: #e0e0e0;
    padding: 10px;
    border-left: 5px solid #004080;
    margin: 20px 0;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    width: fit-content;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0073e6;
    color: white;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    
} */